* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

header img {
    height: 60px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #434343;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #434343;
    padding: 16px;
    background-color: #B0C4DE;
    align-items: center;
    border-radius: 10px;
}

#form-contato {
    display: block;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#form-contato .inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 8px;
}

#form-contato .inputs input {
    font-size: 21px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #434343;

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

#form-contato button {
    margin: 0 8px;
    width: 320px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

#form-contato button {
    background-color: #4682B4;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
}

#form-contato button:hover {
    background-color: #708090;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

table td {
    padding: 16px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contato {
    padding: 8px;
    font-weight: bold;
    color: #000;
    background-color: #e7e7e7;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.contato:hover {
    color: #434343;
}

.direitos {
    text-align: center;
}

.direitos a {
    text-decoration: none;
    color: black;
}

.direitos a:hover {
    text-decoration: none;
    color: #708090;
}